<doctype html>
<head>
    <title>Flask Medicine Database</title>
</head>
<h2>Flask Medicine Database</h2>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  
{% endwith %}
{% from "_formhelpers.html" import render_field %}
<form method=post>
  <dl>
    {{ render_field(form.select) }}
    <p>
    {{ render_field(form.search) }}
  </dl>
  </form>

  <form action="/result">
    <button type="submit">Search</button>
  </form>
